*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #A7BEAE;
    width: 100%;
    justify-content: center;
    font-family: 'Markazi Text', serif;
}

nav{
    background-color: #FBF8BE;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*height: 5%;*/
}

/*h1{*/
/*    font-family: 'Markazi Text', serif;*/
/*}*/
.nav-logo{
    display: flex;
    flex-direction: row;
    /*height: 50%;*/
    align-items:center;
}

.headlogo{
    height: 100px;
    width: 100px;
}
/*.nav-header{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

ul{
    display: flex;
    flex-direction: row;
    width: 270px;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
}

ul li{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: #495371;
}

/*.cards{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*}*/

.PageTitle{
    text-align: center;
    font-size: 40px;
    /*width: 300px; */
    padding-top: 30px;
}


.CompanyBio{
    padding: 40px 60px;
    margin: 40px 40px 20px 40px;
    border-radius: 15px;
    
}

.card1 , .card2 , .card3{
    width: 25%;
    height: auto;
    text-align: center;
}

img{
    width: 75%;
    border-radius: 10px;
}

section{
    margin: 0px 40px 40px 40px;
    background-color: #E7E8D1;
    padding: 0px 40px 50px 40px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.MeetTheTeam{
    border-radius: 15px 15px 0px 0px;
    margin: 40px 40px 0px 40px;
    background-color: #E7E8D1;
    padding: 0px 40px 50px 40px;
}

.cardstitle{
    font-family:  'Markazi Text', serif;
    font-size: 35px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    /*text-decoration: underline;*/
    
}


