*{
    margin: 0px;
    padding: 0px;
    cursor: url("images/cursor.png"), auto;
}

body{
    background-color: #A7BEAE;
    width: 100%;
    justify-content: center;
    font-family: 'Markazi Text', serif;
}

*{
    color: #4c4a42 !important;
    font-family: 'Markazi Text', serif;
}

#navbar{
    background-color: #fbf8be;
    font-size: 1.9em ;
}

#forthebees{
    font-size: 2.4rem !important;
}
.headlogo{
    width: 2.9em;
}
/*.cards{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*}*/

.PageTitle{
    text-align: center;
    font-size: 40px;
    /*width: 300px; */
    padding-top: 30px;
}


.CompanyBio{
    padding: 40px 60px;
    margin: 40px 40px 20px 40px;
    border-radius: 15px;
    
}

.card1 , .card2 , .card3{
    width: 20rem;
    height: auto;
    text-align: center;
}

img{
    width: 75%;
    border-radius: 10px;
}

section{
    margin: 0px 40px 40px 40px;
    background-color: #E7E8D1;
    padding: 0px 40px 50px 40px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.MeetTheTeam{
    border-radius: 15px 15px 0px 0px;
    margin: 40px 40px 0px 40px;
    background-color: #E7E8D1;
    padding: 0px 40px 50px 40px;
}

.cardstitle{
    font-family:  'Markazi Text', serif;
    font-size: 35px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    /*text-decoration: underline;*/
    
}

#footer{
  background-color: #808080;
  border-radius: 15px 15px 0px 0px;
}
