nav{
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    padding: 0px 40px 0px 0px;
}
.navcontainer ul{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}
.box ul{
    display: flex;
    flex-direction: row;
}