* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: url("images/cursor.png"), auto;
    color: #4c4a42;
    font-family: 'Markazi Text', serif;
}


#navbar{
    background-color: #fbf8be;
    font-size: 1.9em ;
}

#forthebees{
    font-size: 2.4rem !important;
}
.headlogo{
    width: 2.9em;
}
body{
    background: #a7beae;
    height: 100vh;
}

.content{
    min-height: 100%;
    margin: 0;
    background: #a7bfae;
    justify-content: center;
    position: relative;
    background-color: #a7beae;
    background-image: url(beebg2.png);
    background-position: center;
    align-items: center!important;
    min-height: 100vh;
}

.mission{
    top: 50%;
    left: 50%;
    position: center;
    padding: 0;
    font-size: 10vw;
    padding: 20vw;
}

#footer{
  background-color: #808080;
  border-radius: 15px 15px 0px 0px;
}