*{
    margin: 0;
    padding: 0;
    cursor: url("images/cursor.png"), auto;
}

body{
    background-color: #a7bfae;
}

nav{
    background-color: #FBF8BE;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*height: 5%;*/
}

/*h1{*/
/*    font-family: 'Markazi Text', serif;*/
/*}*/
.nav-logo{
    display: flex;
    flex-direction: row;
    /*height: 50%;*/
    align-items:center;
}

.headlogo{
    height: 100px;
    width: 100px;
}
.nav-header{
    display: flex;
    flex-direction: row;
}

.mailing-list{
    font-size: 15px;
}

.signin{
    text-decoration: underline;
}

.details{
    text-decoration: underline;
}

ul{
    display: flex;
    flex-direction: row;
    width: 270px;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
}

ul li{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: #495371;
}

.name-image-items{
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 30px;
    column-gap: 0.5rem;
}

.apparel-name{
    font-size: 50px;
    margin-bottom: 25px;
}

.honeypot{
    height:45px;
    width: 45px;
}

/*.cart-container{*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    height: 35px;*/
/*    width: 35px;*/
/*}*/



.salebanner{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background: #689f38;
    column-gap: 0.5rem;
}

.big{
    font-size: 18px;
}

.item2{
    font-size: 12px;
}
.product-container{
    display: flex;
    overflow-x: scroll;
    align-items: baseline;
    /*margin-top: 5px;*/
    margin-bottom: 30px;
    
}


.caption{
    font-family: 'Markazi Text', serif;
    font-size: 25px;
    text-align: center;
}

footer{
    background-color: grey;
    border-radius: 15px 15px 0px 0px;
    padding: 10px 10px 2px 10px;
}

.FooterFloor{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

/*@media screen and (max-width: 768px){*/
/*    html, body{ */
/*        width: 100vw;*/
/*        height: 100vh;*/
/*        margin: 0;*/
/*        padding: 0;*/
/*    }*/
    
    
}